<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911441399071-9ua9b2qukangl4c756rj5umv0jeapf7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911441399071-9ua9b2qukangl4c756rj5umv0jeapf7q</string>
	<key>API_KEY</key>
	<string>AIzaSyDiGahidsTA13KjbpLzZWLBYaHE484fotw</string>
	<key>GCM_SENDER_ID</key>
	<string>911441399071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OnielG.Biofit</string>
	<key>PROJECT_ID</key>
	<string>biofit-9902b</string>
	<key>STORAGE_BUCKET</key>
	<string>biofit-9902b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911441399071:ios:96daf69c4df3452223f42a</string>
	<key>DATABASE_URL</key>
	<string>https://biofit-9902b.firebaseio.com</string>
</dict>
</plist>